profiles {
  isca {
    params.base               = '/lustre/projects/Research_Project-MRC147594'
    params.gpu                = false
    params.denovocnn          = false
    params.software           = "${params.base}/software"
    params.picardJar          = "${params.software}/picard3/picard.jar"
    params.gatkJar            = "${params.software}/gatk4/gatk-4.6.1.0/gatk-package-4.6.1.0-local.jar"
    params.referenceFasta     = "${params.base}/resources/grch38-v2-pipeline/Homo_sapiens_assembly38.fasta"
    params.referenceGFF       = "${params.base}/resources/grch38-v2-pipeline/gencode.v47.chr_patch_hapl_scaff.annotation.gff3"
    params.exomeDepthReference= "${params.base}/resources/exome_depth_reference3/"
    params.tmpDir             = "${params.base}/genome_sequencing/NF_temp/"
    params.goldStandardIndels = "${params.base}/resources/grch38-v2-pipeline/Mills_and_1000G_gold_standard.indels.hg38.vcf"
    params.dbSnp              = "${params.base}/resources/grch38-v2-pipeline/Homo_sapiens_assembly38.dbsnp138.vcf"
    params.resourcesDir       = "${params.base}/resources/grch38-v2-pipeline"
    params.gnomadCommon       = "${params.base}/resources/grch38-v2-pipeline/gnomad_v4_1_popmax001.bcf"
    params.gnomadSNP          = "${params.base}/resources/grch38-v2-pipeline/gnomad_v4_1_popmax01.bcf"
    params.gnomadSNPFilter   = "${params.base}/resources/grch38-v2-pipeline/gnomad_v4_1_common.object"
    params.xtea_libraries     = "${params.base}/resources/grch38-v2-pipeline/xTEA/"
    params.vepData            = "${params.base}/resources/grch38-v2-pipeline/vep_data/"
    params.cytomegaloFasta    = "${params.base}/resources/grch38-v2-pipeline/cytomegalovirus/cytomegalovirus.fasta"
    params.javaDir            = "${params.software}/in-house/software/java"
    params.rtgtools           = "${params.software}/rtg-tools/rtg-tools-3.12.1/rtg"
    params.expHunterDeNovo    = "${params.software}/expansionhunter-denovo/ExpansionHunterDenovo-v0.9.0-linux_x86_64/bin/ExpansionHunterDenovo"
    params.auxSoftware        = "${params.software}/in-house/software/exome_pipeline"
    params.alamut             = "${params.software}/alamut/alamut-batch-standalone-1.11/alamut-batch"
    params.bwa                = "${params.software}/bwa-mem2/bwa-mem2-2.2.1_x64-linux/bwa-mem2"
    params.bwaMem1RefDir      = "${params.resourcesDir}/bwa-mem1"
    params.mantaChromBed      = "${params.resourcesDir}/manta_chrom.bed.gz"
    // SLURM specific settings
    params.pbsQueueing        = true
    process.executor = 'slurm'
    process.queue = 'mrcq'
    apptainer {
      enabled = true
      pullTimeout = '240m'
      autoMounts = true
      envWhitelist = ['APPTAINER_TMPDIR', 'TMPDIR']
    }
    env {
      APPTAINER_TMPDIR = "/lustre/projects/Research_Project-MRC147594/genome_sequencing/NF_temp/"
      TMPDIR = "/lustre/projects/Research_Project-MRC147594/genome_sequencing/NF_temp/"
    }
    cleanup = true
  }

  ennis {
    params.base               = '/ennis/projects/Research_Project-MRC147594'
    params.software           = "${params.base}/software"
    params.tmpDir             = '/scratch'
    params.picardJar          = "${params.software}/picard/picard-2-7-1.jar"
    params.gatkJar            = "${params.software}/gatk/GenomeAnalysisTK-nightly-2016-12-05-ga159770/GenomeAnalysisTK.jar"
    params.referenceFasta     = "${params.base}/resources/grch38-v2-pipeline/human_g1k_v37.fasta"
    params.exomeDepthReference= "${params.base}/resources/exome_depth_reference3/"
    params.goldStandardIndels = "${params.base}/resources/grch38-v2-pipeline/Mills_and_1000G_gold_standard.indels.b37.vcf"
    params.dbSnp              = "${params.base}/resources/grch37/dbsnp_141.b37.vcf"
    params.resourcesDir       = "${params.base}/resources/resources3/"
    params.gnomadCommon       = "${params.base}/resources/grch37/gnomad_common.object"
    params.gnomadAll          = "${params.base}/resources/grch37/gnomad_all.object"
    params.javaDir            = "${params.software}/in-house/software/java"
    params.auxSoftware        = "${params.software}/in-house/software/exome_pipeline"
    params.alamut             = "${params.software}/alamut/alamut-batch-standalone-1.11/alamut-batch"
    params.bwa                = "${params.software}/bwa/bwa-0.7.15/bwa"
    params.rScript            = "${params.software}/R/R-3.0.2/bin/Rscript"
    params.kevlarMask         = "${params.base}/resources/kevlar/b37_mask.ct"
    params.pbsQueueing        = false
  }
}
/* plugins {
  id 'nf-boost'
}

boost {
  cleanup = 'v2'
  cleanupInterval = '300s'
} */

process.afterScript = {

    def logMainDir = params.batchDir+"/r04_logs" 
    logMainDir = workflow.launchDir.resolve(logMainDir).toString()

    def safeProc = task.process
                    .replaceAll(/\s+/, '_')
                    .replaceAll(/[()]/, '')
    def logDir = "${logMainDir}/${safeProc}"                       

    def tagPrefix = task.tag ? "${task.tag}_" : ''

    def cmd = """

        ls -alR --full-time > .command.ls

        mkdir -p nxf_log
        for f in .command.* ; do
            cp -a "\${f}" "nxf_log/${tagPrefix}\${f#.}.txt"
        done

        mkdir -p "${logDir}"
        cp -a nxf_log/* "${logDir}/"
    """.stripIndent().trim()

    return cmd
}